body { 
    background-color:grey;
    background-image: url(../imagenes/fondo-gris3.jpg);
    background-repeat:top;
    background-attachment: fixed;
    
    

    }


h1 {text-align: center; text-decoration:underline; color: black;}  

h3 {font-size:larger;}

img {
    border-radius: 5px;
    
}

nav { text-align: center;
    margin: 25px;
    padding: 10px;
    border: 5px solid;
    
}

div {
    display: flex;
    justify-content:space-around;
    border: 5% solid;
    
}

a {color: blue;}
css/estilo.css



header {
    background-color: red;
    text-align: center;
    margin: 25px;
    padding: 10px;
    border: 5px solid;
    flex-wrap: wrap;
    justify-content: space-around
    flex
}


section {
    margin: 25px;
    padding: 10px;
    border: 5px solid;
    text-align: center;
    
    
    
    
}


aside {
    margin: 25px;
    padding: 10px;
    border: 5px solid;
    display: flex;
    justify-content: space-around;
    
}

.imagen-condimento {
    width: 19%;
    height: 19%;
}

.imagen-preparacion {
    width: 21%;
    height: 21%;
}

footer {
    margin: 25px;
    padding: 10px;
    border: 5px solid;
    display: flex;
    justify-content: space-around;
    
    
}

.imagen-ig {
    width: 50px;
    height: 50px;
    justify-content:center;

    
}

.imagen-fb {
    width: 50px;
    height: 50px;
}    

.imagen-tt {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.imagen-wsp {
    width: 100px;
    height: 100px;
    float:right;

    
    
}

.btn-wsp {
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    position: fixed;
    
}

iframe {
    width: 150px; height: 150px;
}

.redes-sociales {
    background-color: red;
    display: flex;
    justify-content: space-around;

}

.bandera-arg {
    width: 5%;
    height: 5%;
}