@font-face {
    font-family: "random";
    src: url(../random2.ttf)
    format("truetype");
}


body { 
    background-color:grey;
    background-image: url(../imagenes/fondo-gris3.jpg);
    background-repeat:top;
    background-attachment: fixed;
 }


h1 {
    text-align: center;  
    font-family: 'Bebas Neue', sans-serif;
}  

h3 {font-size:larger;
   font-family: "random";
   font-size: 1em;
   

}

h2 {
    font-family: "random";
    
    
}

p {
    font-family: "random";
    font-size: medium;
}

li {
    font-family: "random";
    font-size: 1em;
    width: 47%;
}

ul{
    width: 47%;
}

ol{
    width: 47%;
}



img {
    border-radius: 3px ;
}



div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px;
    padding: 10px;
    font-family: "random";

}

a {
  color: black;
  text-decoration: none;
  
}

a:visited {color:blue;}
a:active {color: aliceblue;}

css/estilo.css



header {
    width: 25vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: start;
    width: 94vw;
    
}

nav { text-align: center;
    border: 5px solid;
    margin: 25px;
    padding: 10px;
    justify-content: space-around;
    width: 94vw;
    
}


section {
    border: 5px solid;
    text-align: center;
    margin: 25px;
    padding: 10px;
    width: 94vw;
}


aside {
    border: 5px solid;
    display: flex;
    justify-content: space-around;
    margin: 25px;
    padding: 10px;
    font-family: "random";
    width: 94vw;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px;
    padding: 10px;
    width: 94vw;
    border: 5px solid;
}


.empanada-carne {
    border: 1px outset;
    width: 35%;

}

.imagen-condimento {
    border: 1px outset;
    width: 23%;
}

.imagen-preparacion {
    border: 1px outset;
    width: 23%;
}



.imagen-ig {
    width: 50px;
    height: 50px;

    
}

.imagen-fb {
    width: 50px;
    height: 50px;
}    

.imagen-tt {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.imagen-wsp {
    width: 100px;
    height: 100px;
    float:right;
}

.btn-wsp {
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    position: fixed;
    
}

iframe {
    width: 100px; height: 100px;
}

.redes-sociales {
    display: flex;
    justify-content: space-around;

}

.bandera-arg {
    width: 5%;
    height: 5%;
    justify-content: center;
}

.div-nav {
    display: flex;
    justify-content: space-around;
}

.lista1 {
    width: 47%;
    
}

.lista2 {
    width: 47%;
    
    
}

